<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modelo de Caja</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <img class="header__img" src="https://raw.githubusercontent.com/platzi/PlatziVideo/feature/react/src/assets/static/logo-platzi-video-BW2.png" alt="logo-video">
    <div class="header__menu">
      <div class="header__menu--profile">
        <img src="person.png" alt="">
          <p>Profile</p>
      </div>
      <ul>
          <li><a href="/">Cuenta</a></li>
            <li><a href="/">Cerrar Sesión</a></li>
        </ul>
    </div>
  </header>

  <section class="main">
    <h2 class="main__title">¿Que quiere ver hoy?</h2>
    <input class="input" type="text" placeholder="Buscar...">
  </section>
</body>
</html>